<center>
who do you want to play?
<form method = "post" action = "gamer">
<select name="game_type">
	<option value="human">human</option>
	<option value="sequential">sequential</option>
	<option value="random">random</option>
	<option value="unbeatable">unbeatable</option>
</select>
<input type="submit" name="submit">
</form></center>